* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}

ul {

}

li {
	list-style-type: none;
}

.wrapper {
	width: 1150px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


.header {
	height: 80px;
	z-index: 10000;
	position: relative;
	background: #fff;

	.header__menu {
		padding-top: 30px;
		float: left;
		width: 500px;

		ul {
			padding-left: 5px;

			li {
				text-align: left;
				float: left;
				padding: 0 10px;
				text-transform: uppercase;
			}

			a {
				font-size: 14px;
				font-weight: bold;

				&:hover {
					text-shadow: 2px 3px 2px rgb(136, 136, 136);
				}
			}
		}
	}

	.header__search {
		float: right;
		padding: 30px 15px 0px 0px;

		input {
			border-radius: 10px;
			border: 0px;
			padding-left: 7px;
			height: 20px;
		}
	}
}

.content {

	.page-content {
		position: relative;
		z-index: 10000;

		.page-content__news {
			background-color: #fff;
		}
	}
	
}

.background {
	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100.2%;
 	height: 100%;
 	background-image: url(../img/background.jpg);
 	/*background-position: center center;*/
 	background-size: cover;
 -webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
 	z-index: 1;
 	background-size: 120%;
}