@font-face {
	font-family: Taiga;
	src: url(../fonts/Taiga.otf);
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: Raleway Extra;
	src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
	font-family: Raleway Bold;
	src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: Raleway Semibold;
	src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: Raleway Medium;
	src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
	font-family: Raleway Light;
	src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
	font-family: Raleway Extrabold;
	src: url(../fonts/Raleway-ExtraBold.ttf);
}


* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}

a {
	text-decoration: none;
}

#wrapper {
	min-width: 600px;
	max-width: 1400px;
	margin: 0 auto;
}

.wrapper {
	max-width: 1180px;
	min-width: 600px;
	margin: 0 auto;
}

/*Scrolling
-----------------------------------------------------------------------------*/

.section{
	overflow:hidden;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	width: 100%;
	height: 830px;
	z-index: 1000000;
	/*background: url(../img/main.png) no-repeat;
	background-size: 100%;*/
	position: relative;
}

.background {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image: url(../img/main.png);
	background-position: center center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.head_container {
	overflow: hidden;
	width: 100%;
	height: auto;
	position: relative;
	vertical-align: middle;

}

.menu {
	width: 47px;
	height: 47px;
	background-image: url("../img/menu.png");
	background-repeat: no-repeat;
	float: right;
	margin-top: 66px;
	cursor: pointer;
	z-index: 100000;
	position: relative;

}

.menu:hover {
	opacity: 0.6;
}


.photo_container {
	padding-top: 135px;
	z-index: 1000;
	position: relative;
}

.photo {
	width: 334px;
	height: 334px;
	border-radius: 50%;
	background: #d7d7d7;
	border: 12px solid #fff;
	margin: 0 auto;
}

.owner {
	margin: 0 auto;
	width: 540px;
	min-height: 200px;
	text-align: center;
	z-index: 100000;
	position: relative;
}

h2.name {
	font: 44px Taiga;
	color: #fff;
}

p.info {
	font: 24px Raleway;
	color: #1f98ad;
}

button.me {
	width: 158px;
	height: 50px;
	border: 2px solid #bebebe;
	border-radius: 10px;
	background: none;
	cursor: pointer;
	margin: 25px 10px 0px 10px;
}

button.me:hover {
	opacity: 0.6;
}

p.button_p {
	font: 24px Raleway;
	color: #ecf0f1;
}

@media screen and (max-width: 650px) {
	.menu {
		float: none;
		margin: 0 auto;
	}

	.photo_container {
		padding-top: 28px;
	}

	.header {
		padding-top: 60px;
	}
}



/* Middle
-----------------------------------------------------------------------------*/
.content {
}

#section1, #section2, #section3, #section4, #section5 {
	background-color: #f3f3f3;
}

.about {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: #f3f3f3;
}

.about_me {
	width: 220px;
	height: 65px;
	margin: 0 auto;
	padding-top: 65px;
	text-align: center;
	margin-bottom: 80px;
}

.about_row {
	max-width: 1180px;
	min-width: 400px;
	height: auto;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

h1.title {
	font: 40px Raleway Extra;
	color: #595959;
	text-align: center;
}


.title_line {
	width: 118px;
	height: 9px;
	background-color: #88ccd8;
	margin: 0 auto;
	margin-top: 7px;
}

.profile {
	padding-top: 80px;
	height: auto;
	width: 100%;
}

.profile_text {
	/*max-width: 560px;*/
	/*width: auto;
	height: auto;*/
	width: 50%;
	float: left;
	margin-left: 30px;
	position: relative;
	display: inline-block;
	text-align: left;
	overflow: hidden;
	box-sizing: border-box;
}

h3.bruno {
	font: 24px/18px Raleway Extra;
	color: #595959;
	text-transform: uppercase;
}

p.design {
	font: 24px/66px Raleway Semibold;
	text-transform: uppercase;
	color: #595959;
}

p.lore {
	font: 16px/30px Raleway Medium;
	color: #7c7c7c;
	text-transform: uppercase;
	max-width: 530px;
}

.a_video {
	display: block;
}


.video_container {
	width: 50%;
	height: auto;
	float: right;

}

.video {
	/*width: 463px;
	height: 345px;*/
	/*max-width: 463px;
	height: auto;*/
	margin-right: 30px;
	margin-left: 20px;
	position: relative;
	padding-bottom: 110px;
	overflow: hidden;
	box-sizing: border-box;
}

.video img {
	width: 100%;
	height: 100%;
}

.play {
	margin: 0 auto;
	cursor: pointer;
	margin-top: -49%;
}

.play img {
	width: auto;
	height: auto;
}

.play:hover {
	opacity: 0.8;
}

@media screen and (max-width: 900px) {

	.profile {
		margin: 0 auto;
		text-align: center;
	}

	.profile_text {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: auto;
	}

	.video {
		float: none;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 50px;
		width: 100%;
		height: 100%;
		overflow: none;
	}

	.video img {
		width: auto;
		height: 100%;
	}

	.play {
		margin-top: -228px;
	}
}

.services {
	width: 100%;
	height: auto;
	z-index: 1000000;
	position: relative;
	background-color: #1d232b;
	padding-top: 77px;
}

.services h1 {
	color: #f3f3f3;
}

a.a_service:hover img{
	opacity: 0.6;
}

.my_services {
	width: 262px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 75px;
	text-align: center;
}

.service_row {
	max-width: 1180px;
    min-width: 400px;
    min-height: 225px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
}

.service {
	width: 380px;
	height: 205px;
	text-align: center;
	float: left;
	margin: 5px;
	overflow: hidden;
	position: relative;
    /*max-width: 380px;
    min-width: 190px;
    height: auto;*/
    vertical-align: middle;
}

.service img {
	margin-bottom: 20px;
}

p.product {
	font: 22px/24px Raleway Bold;
	text-transform: uppercase;
	color: #f3f3f3;
}

p.product_info {
	width: 285px;
	margin: 0 auto;
	font: 16px/24px Raleway Light;
	text-transform: uppercase;
	color: #f3f3f3;
}

/*.fone {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image: url(../img/services.png);
	background-position: center center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.portfolio {
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
	padding-top: 75px;
}


.portfolio_title {
	width: 225px;
	height: 60px;
	margin: 0 auto;
}

.p_content {
	max-width: 1060px;
	min-width: 265px;
	min-height: 400px;
	margin: 0 auto;
	margin-top: 60px;
}

.portfolio_row {
	max-width: 1060px;
	min-width: 265px;
	min-height: 200px;
	border: none;
	border-spacing: none;
	margin-bottom: none;
}

/*a.a_portfolio:hover .slide_content {
	display: block;
	margin-top: -204px;
	z-index: 1000000;
}

a.a_portfolio:hover .imgs {
	z-index: 11;
}*/

.p_slide {
	float: left;
	width: 265px;
	height: 200px;
	position: relative;
}

.p_slide:hover .slide_content {
	display: block;
	margin-top: -199px;
	z-index: 1000000;
}

.imgs {
	position: relative;
}

.p_slide img {
	z-index: 100;
	display: block;
}

.slide_content {
	width: 265px;
    height: 199px;
    position: relative;
    display: none;
    overflow: hidden;
    -moz-transition: background-color 0.8s 0.1s ease;
	-o-transition: background-color 0.8s 0.1s ease;
	-webkit-transition: background-color 0.8s 0.1s ease;
	transition: background-color 0.8s 0.1s ease;
	text-align: center; 
}

.slide_content:hover {
	background: rgba(20,31,34,0.9);
}

.plus {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 34px;
}

p.hover_title {
	font: 24px/26px Raleway Light;
	color: #cfcfcf;
	margin-top: 14px;
	display: block;
	top: -200px;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;
}

p.hover_info {
	font: 16px/26px Raleway Semibold;
	color: #cfcfcf;
	margin-top: 3px;
	bottom: -200px;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/**/

.my_blog {
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
	padding-top: 75px;
}

.blog_title {
	width: 220px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 75px;
}

.blog_content {
	max-width: 1060px;
	min-width: 320px;
	height: auto;
	margin: 0 auto;
}

.blog_column, .blog_column_center {
	width: 320px;
	height: 100%;
	float: left;
}

.blog_column_center {
	margin: 0px 50px 0px 50px;
}

.blog_post {
	width: 278px;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	padding: 15px 15px 30px 15px;
	margin-bottom: 55px;
}

.blog_pic {
	width: 278px;
	height: 175px;
}


.post_play {
	width: 54px;
	height: 55px;
	margin: 0 auto;
	margin-top: -115px;
}

.blog_pic:hover .post_play {
	opacity: 0.6;
}

.post_name {
	width: 253px;
	height: 40px;
	padding: 25px 0px 0px 25px;
}

h4.trend {
	font: 18px Raleway ExtraBold;
	color: #595959;
	text-transform: uppercase;

}

p.post_author {
	font: 14px Raleway SemiBold;
	color: #7c7c7c;
	text-transform: uppercase;
}

p.post_info {
	width: 228px;
	margin: 0 auto;
	text-align: left;
	font: 16px/22px Raleway Medium;
	text-transform: uppercase;
	color: #595959;
	margin-top: 14px;
	margin-bottom: 18px;
}

button.see_more {
	width: 118px;
	height: 42px;
	background-color: #64c9db;
	border: 0px;
	border-spacing: 0px;
	outline: 0 !important;
	margin-right: 28px;
	margin-left: 132px;
	cursor: pointer;
}

button.see_more p {
	font: 18px/22px Raleway SemiBold;
	color: #fff;
}

button.see_more:hover {
	opacity: 0.8;
}

.check_out {
	width: 700px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.check_info {
	font: 24px/26px Raleway;
	color: #515151;
}

.check_out span {
	text-transform: uppercase;
	color: #64c9db;
	font: 24px/26px Raleway SemiBold;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.metrics {
	width: 100%;
	height: 657px;
	background-color: #1f2327;
}

.contact {
	width: 700px;
	height: 55px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

p.discuss {
	font: 24px Raleway Medium;
	color: #595959;
	float: left;
	margin-top: 12px;
}

button.contact_me {
	width: 168px;
	height: 55px;
	background-color: #5dbed2;
	border-radius: 8px;
	float: left;
	margin-left: 25px;
	border: 0px;
	border-spacing: 0px;
	outline: 0;
	cursor: pointer;
}

p.cme {
	font: 24px Raleway;
	color: #fff;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	height: 70px;
	background-color: #f3f3f3;
}

.social {
	width: 1200px;
	height: 70px;
	margin: 0 auto;
	border-top: 1px solid #cccccc;
}

.copyright {
	width: 155px;
	height: 70px;
	float: left;
}

p.soc_bruno {
	font: 18px/70px Raleway Medium;
	color: #8e8e8e;
}

.icons {
	width: 123px;
	height: 48px;
	float: right;
	padding-top: 22px;
}

.icons img {
	cursor: pointer;
	margin-right: 10px;
}

.icons img:hover {
	opacity: 0.8;
	


/*Проверка*/