html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  font-size: 35px;
  font-family: 'Arial', sans-serif, helvetica;
  font-weight: bold;
  padding-top: 77px;
}
h3 {
  font-size: 25px;
  font-family: 'Arial', sans-serif, helvetica;
  font-weight: bold;

}
body {
  height: 100%;
  background: #ccc;
}
.serg {
  max-width: 1200px;
  height: 96vh;
  margin: 10px auto;
  padding: 10px 20px 0px 20px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  transition: all .4s ease-out;
}
.header {
  height: 250px;
}
.fotoserg{
  background: url(foto.jpg);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 32px;
}
.links ul {
  list-style: none;
  margin: 20px 0px 0px 20px;
}
.links ul li {
  margin-bottom: 5px;
  display: flex;
}
.links ul a {
  text-decoration: none;
  font-family: 'Arial', sans-serif, helvetica;
  font-size: 16px;
  color: #bf3729;
}
.links a:after {
    background: #2f3137;
    bottom: 0px;
    content: '';
    display: block;
    height: 1px;
    width: 0;
    position: relative;
    -webkit-transition: width .15s;
    -moz-transition: width .15s;
    -o-transition: width .15s;
    transition: width .15s;
}
.links a:hover:after {
    width: 100%;
    z-index: 5;
}
