@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'pf_din_text_cond_promedium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: url('../fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
    margin: 0;
    padding: 0;
    display: block;
}

a {
	text-decoration: none;
}

/*.wrapper {
	max-width: 1200px;
    min-width: 400px;
	height: 100%;
	margin: 0 auto;
}*/

/*.content-main {
	max-width: 1200px;
	min-width: 400px;
	margin: 0 auto;
	margin-bottom: 77px;
    position: relative;
}*/

.row-services {
	max-width: 940px;
    min-width: 400px;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.scon {
    float: left;
    width: 50%;
}

.service {
}

a.service_head:hover .service_title {
	background: #ed003c;
}

 a.service_head:hover span {
	color: #fff;
	padding-left: 20px;
}

a.service_head:hover .bgp span {
	color: #ed003c;
	padding-left: 0px;
}


.service:first-child {
	margin-right: 8.50%;
    margin-left: 8.50%;

}

a.service_head {
	display: block;
	text-decoration: none;
}

.service_title {
    width: 100%;
	display: table;

}

.service_title span {
	text-transform: uppercase;
	font: 30px 'pf_din_text_cond_prolight';
	-webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    display: table-cell;
    color: #000;
    padding-top: 7px;
}

.service_ico {
	overflow: hidden;
	position: relative;
	border: 1px solid #dee1e4;
    width: 100%;
	/*min-height: 178px;*/
    height: auto;
    vertical-align: middle;
}


.service_ico img {
    height: auto;
    width: 100%;
}

.service__ico img.mask {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
}


p.bgp {
	color: #80838e !important;
	padding-left: 17px !important;
	text-transform: uppercase;
	font-size: 14px;
}

.mask {
	display: none;
}

a.service_head:hover .service_ico img.mask {
	display: block;
	margin-bottom: 4px;
}

.service p {
	margin: 0px;
	padding: 0px;
	font-family: 'pf_din_text_cond_prolight';
	color: #2f3137;
}

a.service_head:hover .service_ico img {
	display: none;
}

p.bgp span {
	color: #ed003c;
}

/** Carousel **/

.carousel_bg {
	width: 100%;
	/*min-height: 262px;*/
    height: auto;
	background: #a6a7a1;
	box-shadow: inset 0px 2px 5px #444;
    -webkit-box-shadow: inset 0px 2px 5px #444;
    margin-bottom: 200px;
    margin-top: 140px;
}

.jcarousel-wrapper {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 1260px;
    min-width: 400px;
    margin: 0 auto;
    padding-top: 15px;
}


.jcarousel {
    position: relative;
    overflow: hidden;
    max-width: 1138px;
    min-width: 400px;
    min-height: 228px;
    margin: 0 auto;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-row;
}

.jcarousel li {
    /*width: 272px !important;*/
    width: auto;
    height: 222px;
    float: left;
    margin: 7px;
    border: 5px solid #CACACA;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    display: table-cell;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev
 {
    position: relative;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border: none;
    outline: 0 !important;
    text-align: center;
    cursor: pointer;
    float: left;
    background-image: url(../img/left.png);
    margin-left: 5px;
    overflow: hidden;
}

.jcarousel-control-prev img {
    margin-top: -2px !important;
}

.jcarousel-control-next {
    position: relative;
    text-decoration: none;
    width: 45px;
    height: 45px;
    outline: 0 !important;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    float: right;
    background-image: url(../img/right.png);
}

.jcarousel-control-prev:hover {
	opacity: 0.8;
}

.jcarousel-control-next {
    right: 0px;
}

.jcarousel-control-next:hover {
	opacity: 0.8;
}


.jcarousel-control-prev, .jcarousel-control-next {
	margin-top: -130px;
}


/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.slide_content {
	width: 262px !important;
    height: 212px;
    display: none;
    -moz-transition: background-color 0.8s 0.1s ease;
	-o-transition: background-color 0.8s 0.1s ease;
	-webkit-transition: background-color 0.8s 0.1s ease;
	transition: background-color 0.8s 0.1s ease;
}

.slide_content:hover {
	background-color: #ed003c;
	background: rgba(237,28,36,0.8);
}


.slide_content p {
	color: #fff;
}

.slide_content:hover p {
	
}

.slide_info {
	margin-top: 71px;
}


.slide_content:hover .top_p {
	/*margin-top: 1px;
	z-index: 100000;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;*/

}

.top_p {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;  
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
 
    visibility: visible !important;                     
}
 
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}
 
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}




.bot_p {
	margin-top: 105px;
}

.slide_content:hover .bot_p {
	margin-top: 10px;
	z-index: 100000;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;
}


.line {
	width: 210px;
	margin: 0 auto;
	height: 4px;
	-moz-transition: background-color 2.4s 0.8s ease;
	-o-transition: background-color 2.4s 0.8s ease;
	-webkit-transition: background-color 2.4s 0.8s ease;
	transition: background-color 2.4s 0.8s ease;
}

.slide_content:hover .line {
	background: #CACACA;
}

.jcarousel li:hover .imgs {
	position: relative;
	z-index: 3;
}

.jcarousel li:hover .slide_content {
	display: block;
	z-index: 100000 !important;
	position: absolute;
	margin-top: -210px;
}


a.birka {
	width: 191px;
    height: 70px;
    background: url(../img/birka.png) no-repeat center top;
    float: left;
    margin: -63px 0px 0px 0px;
    left: 43.5%;
    position: relative;
    z-index: 500;
    display: block;
}